.waves-container {
    overflow: hidden;
    position: relative;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    width: 250px;
    height: 250px;
    border-radius: 999px;
    background-color: #fafafa31;
    box-shadow: 0 10 25px rgba(0, 0, 0, 0.6);
    animation: water-waves linear infinite;
}

.wave {
    position: absolute;
    width: 200%;
    height: 200%;
    left: -50%;
    animation: inherit;
    filter: blur(6px);
}

@keyframes water-waves {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}